*{
   text-decoration: none;
}
#wrapper{
    position: relative;
    width: 1920px;
    height: 1080px;

    background: #FFFAF5
 }
#header{

    position: absolute;
    width: 1920px;
    height: 113px;
    left: 0px;
    top: 50px;

    background: #37354E;

}
.menu{
    position: relative;
    width: 33%;
    height: 100%;
    float: left;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 2em;
    text-align: center;
    padding-top:1.6%;
    color: #FFFAF5;

}
#button{
    position: absolute;
    width: 143px;
    height: 47px;
    left: 150px;
    top: 900px;
    text-align:center ;
    background: #37354E;
    border-radius: 23px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4em;
    padding-top:0.8%;
    /* identical to box height */


    color: #FFFAF5;

}
#name{
    position: absolute;
    width: 858px;
    height: 140px;
    left: 864px;
    top: 190px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 58px;

    color: #37354E;

}
#line_1{
    position: absolute;
    width: 480px;
    height: 0px;
    left: 690px;
    top: 258px;

    border: 2px solid rgba(55, 53, 78, 0.4);
}

#table{
    position: absolute;
    width: 1176px;
    height: 500px;
    left: 365px;
    top: 323px;
    overflow: scroll;
    background:#FFFAF5;
}
table{
    position: relative;
    width: 1000px;
    height: 520px;
    left: 10px;
    top: 10px;
    background:#FFFAF5;
}
thead{
    text-align:left;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 2.4em;
    color: #37354E;
}
tbody{
    text-align:left;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size:2.4em;
    color: #37354E;

}
#table::-webkit-scrollbar{
    width:10px;
}
#table::-webkit-scrollbar-track{
    background: #FFFAF5;
}
#table::-webkit-scrollbar-thumb{
    background:grey;
    border-radius:7px ;
}


